Tema 4/Practica-examen/Practica - Alvaro Cañas/servidor_correo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="servidor">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="SMTPAuth" type="xs:boolean"/>
        <xs:element name="SMTPSecure" type="xs:string"/>
        <xs:element name="Host" type="xs:string"/>
        <xs:element name="Port" type="xs:integer"/>
        <xs:element name="Username" type="xs:string"/>
        <xs:element name="Password" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
